* {
    margin: 0;
    padding: 0;
    align-items: center;
}

body {
    background-color: black;
    color: white;
}

button {
    align-items: center;
    background-color: white;
    color: black;
}